<h1>Welcome, <%= current_user.first_name %>!</h1>

<h1>Blog Posts</h1>
<% @posts.each do |post|%>
<h2><%= post.title %></h2>
<p><%= post.body %></p>
<%= post.created_at.strftime("%b %d, %Y")%>
<% end %>

<h1>Skills</h1>
<% @skills.each do |skill| %>
<p> <%= "#{skill.title}: "%> <%= "#{skill.percent_utilized}"%></p>
<% end %>

<hr>
<%= content_tag :p, class: "my-special-class" do %>
Hi I'm in a paragraph
<% end %>