<!DOCTYPE html>
<html>
  <head>
    <title><%=@page_title%></title>
    <%= csrf_meta_tags %>
    <meta name="keywords" content="<%=@seo_keywords %>" />
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <link href="https://fonts.googleapis.com/css?family=Bowlby+One|Bungee+Shade|Gugi" rel="stylesheet">
  </head>
  
  <nav>
    Cat Perry
    <div>
      <div><%=link_to "Home", home_path%></div>
      <div><%=link_to "Portfolio", portfolios_path%></div>
      <div><%=link_to "Blog", blogs_path%></div>
      <div><%=link_to "About Me", about_me_path%></div>
      <div><%=link_to "Contact", contact_path%></div>
    </div>
  </nav>

  <body>
    <p class="notice"><%= notice %></p>
    <p class="alert"><%= alert %></p>

    <%= login_helper %>

    <%= yield %>

    <%= source_helper("application")%>
  </body>
</html>
